/* estilos generales */
*{
	margin:0px;
	padding:0px;
}
h1,h2,h3,h4{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	max-width:80%;
}
h1{
	margin-bottom:15px;
}
h3{
	margin:6px 0px;
}
.contenido{
	width: 700px;
  	margin: 0 auto;
	background-image:url(../img/fondo.jpg);
	background-repeat:repeat-y;
	padding-left:90px;
	min-height:400px;
	padding-bottom:20px;
}
/* estilos generales */

/* estilos menu */
.menu{
	width: 100%;
	text-align:left;
	padding-left:30px;
	height:100px;
	background-image:url(../img/fondo_menu.png);
	background-repeat:no-repeat;
}
.menu{
	padding-top:40px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
}
.contenido ul li{
	list-style: none;
	display:inline;
	padding:4px;
}
.contenido ul li a {
	color: #205bab;
	text-decoration:none;
	padding:10px;
	background-color:white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
}
.contenido ul li a:hover{
	background-color:#112d52;
	color:#FFF;
}
/* estilos menu */

/* estilos de las tablas para mostrar contactos*/
.lista{
	width:80%;
	border-spacing:0px;
}
.lista tr{
	min-height:30px;
}
.lista tr td{
	text-align:center;
}
.lista tr td a{
	color:#000;
	text-decoration:none;
}
.lista tr td a:hover{
	text-decoration: underline;
	font-weight:bold;
}
.impar{
	background-color:#86b9ff;
}
.par{
	background-color:#248df0;
}
.par:hover, .impar:hover{
	background-color:#f07124;
	color:#FFFFFF;
}

.cabecera{
	text-transform:uppercase;
	height:40px;
	background-color:#fff;
}
.cabecera td a{
	padding:14px;
}
.cabecera td:hover{
	border-top:1px dotted black;
}
/* estilos de las tablas para mostrar contactos*/

/* estilos de formularios*/
table, form{
	font-family: Arial;
	font-size:13px;
}
input[type="submit"],input[type="reset"]{
	padding:3px;
	margin:8.5px;
	min-width:30px;
}
select{
	padding:3px;
	margin:1px;
	min-width:240px;
}
input[type="text"],input[type="email"]{
	padding:3px;
	margin:1px;
	min-width:230px;
}
input[type="checkbox"],input[type="radio"]{
	margin:7.5px;
}
label{
	display:block;
	padding: 7.5px 0;
}
/* estilos de formularios*/

/* textos de navegación después de realiza operaciones*/
.mensajes a{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	margin:0 10px;
	padding: 10px;
	background-color:#205bab;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.mensajes a:hover{
	background-color: #112d52;
}
/* textos de navegación después de realiza operaciones*/

.pie{
	width: 785px;
  	margin: 0 auto;
	display:block;
}
